<html>
	<head>
		<!-- Site Title -->
		<title>Indian Development Foundation</title>

		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!--link rel="stylesheet" href="css/font-awesome.min.css"-->
		<!--link rel="stylesheet" href="css/bootstrap.css"-->	
		<link rel="stylesheet" href="main.css">
		<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.4/css/mdb.min.css" rel="stylesheet">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- Bootstrap tooltips -->
		<style type="text/css">
		input[type=text] {
            width: 180px;
            height: 35px;
            box-sizing: border-box;
            border: 2px solid #ccc;
            border-radius: 5px;
            font-size: 14px;
            padding: 12px 20px 12px 30px;
            background-image: url('img/search-icon.png');
            background-position: 5px 0px; 
            background-repeat: no-repeat;
            transition: width 0.4s ease-in-out;
		}
        input[type=email]{
            height: 32px;
            box-sizing: border-box;
            border: 2px solid #ccc;
            border-radius: 4px;
            font-size: 13px;
            padding: 2px;
            padding-left: 5px;
        }
        input[type=password]{
            height: 32px;
            box-sizing: border-box;
            border: 2px solid #ccc;
            border-radius: 4px;
            font-size: 13px;
            padding: 2px;
            padding-left: 5px;
        }
	    input[type=text]:focus {
	       width: 60%;
		}
		.box{

		}
	    </style>
	</head>
	<body>	

			<nav class="navbar navbar-expand-lg navbar-dark text-white"  style="background-color: #485461;
background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);">
			      <a class="navbar-brand" href="/">Indian Development Foundation</a>
			      <a class="navbar-brand" href="/dashboard">Dashboard</a>
			      <a class="navbar-brand" href="/chatbot">chatbot</a>
			      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
			        aria-expanded="false" aria-label="Toggle navigation">
			        <span class="navbar-toggler-icon"></span>
			      </button>