
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
</head>
<body>




     <h1  style="text-align: center;margin-top: 20px;"> ADMIN DASHBOARD  <br><br> </h1>

	<form class="col-sm-6 mx-auto" action="/uploaddata"  method="POST">
	  <div class="form-group">
	    <label for="id">ID</label>
	    <input type="text" class="form-control" name="id" aria-describedby="emailHelp" placeholder="Enter scholarship name">
	     
	  </div>
	  
	  <div class="form-group">
	    <label for="sname">Scholarship name</label>
	    <input type="text" class="form-control" name="sname" aria-describedby="emailHelp" placeholder="Enter scholarship name">
	     
	  </div>
	   <div class="form-group">
	    <label for="authoritytype">authority type</label>
	    <input type="text" class="form-control" name="authority" aria-describedby="emailHelp" placeholder="Enter authority">
	     
	  </div>

	   <div class="form-group">
	    <label for="Authorityname">Authority name</label>
	    <input type="email" class="form-control" name="aname" aria-describedby="emailHelp" placeholder="Enter authority name">
	     
	  </div>

       
      


	   <div class="form-group">
	    <label for="spass">passing  standard</label>
	    <input type="text" class="form-control" name="spass" aria-describedby="emailHelp" placeholder="Enter passing standard">
	     
	  </div>

	   <div class="form-group">
	    <label for="cutoff">cutoff</label>
	    <input type="text" class="form-control" name="cutoff" aria-describedby="emailHelp" placeholder="Enter cutoff">
	     
	  </div>

	   <div class="form-group">
	    <label for="region">Enter region</label>
	    <input type="text" class="form-control" name="state" aria-describedby="emailHelp" placeholder="Enter region">
	     
	  </div>

	   <div class="form-group">
	    <label for="applbranchtotal">total applicable branch</label>
	    <input type="text" class="form-control" name="applbranchtotal" aria-describedby="emailHelp" placeholder="Enter total applicable branch">
	     
	  </div>

	   <div class="form-group">
	    <label for="applbranch">Applicable branch</label>
	    <input type="text" class="form-control" name="applbranch" aria-describedby="emailHelp" placeholder="Enter applicable branch">
	     
	  </div>

	   <div class="form-group">
	    <label for="incomelimit">Income limit</label>
	    <input type="text" class="form-control" name="incomelimit" aria-describedby="emailHelp" placeholder="Enter Income limit">
	     
	  </div>

	   <div class="form-group">
	    <label for="benefit">Benefit</label>
	    <input type="text" class="form-control" name="benefit" aria-describedby="emailHelp" placeholder="Enter Benefit amount">
	     
	  </div>

	   <div class="form-group">
	    <label for="link">Link to apply</label>
	    <input type="text" class="form-control" name="link" aria-describedby="emailHelp" placeholder="Enter link">
	     
	  </div>

	  <button type="submit" class="btn btn-outline-success mb-5 mx-auto">Submit</button>
	</form>
    
	
	
	

   


 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>