<html>
	<head>
		<!-- Site Title -->
		<title>Indian Development Foundation</title>

		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!--link rel="stylesheet" href="css/font-awesome.min.css"-->
		<link rel="stylesheet" href="main.css">
		<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.4/css/mdb.min.css" rel="stylesheet">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- Bootstrap tooltips -->
		<style type="text/css">
		input[type=text] {
            width: 180px;
            height: 35px;
            box-sizing: border-box;
            border: 2px solid #ccc;
            border-radius: 5px;
            font-size: 14px;
            padding: 12px 20px 12px 30px;
            background-image: url('img/search-icon.png');
            background-position: 5px 0px; 
            background-repeat: no-repeat;
            transition: width 0.4s ease-in-out;
		}
        input[type=email]{
            height: 32px;
            box-sizing: border-box;
            border: 2px solid #ccc;
            border-radius: 4px;
            font-size: 13px;
            padding: 2px;
            padding-left: 5px;
        }
        input[type=password]{
            height: 32px;
            box-sizing: border-box;
            border: 2px solid #ccc;
            border-radius: 4px;
            font-size: 13px;
            padding: 2px;
            padding-left: 5px;
        }
	    input[type=text]:focus {
	       width: 60%;
		}
		.box{

		}
	    </style>
	</head>
	<body>	
          
		<!--header id="header" id="home">
		  	<div class="header-top">
		  		<div class="container">
			  		<div class="row">
			  			<div class="col-lg-6"-->
					      	<!--div>
								<input type="text" name="search" placeholder="Search Courses">&nbsp &nbsp
								<a class="btn btn-default squire" style="border-color:#D1AB7F; height:35px;" href="searchedcourses.php">Search</a>
							</div-->	    				  					
				  			<!--/div>
				  			<div class="col-lg-6 col-sm-6 col-8 header-top-right no-padding">
							<form method="post" action="index.php">
								<input type="email" placeholder="Enter email-id" name="email" required>&nbsp &nbsp
								<input type="password" placeholder="Enter password" name="password" required>&nbsp
                                <button class="btn btn-default" type=submit name="signin" >Sign In</button>
								<a class="btn btn-default" href="register.php">Register</a>
							</form>		
				  			</div>
				  		</div>			  					
		  			</div>
				</div>
			  </header-->
			  <!-- #header -->

			<nav class="navbar navbar-expand-lg navbar-dark text-white"  style="background-color: #202020">
			      <a class="navbar-brand" href="#">Indian Development Foundation</a>
			      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
			        aria-expanded="false" aria-label="Toggle navigation">
			        <span class="navbar-toggler-icon"></span>
			      </button>
			      <div class="collapse navbar-collapse" id="navbarNav">
			        
			        <form class="form-inline my-2 my-lg-0 ml-auto" method="post"> 
			            <div class="md-form my-0">
			            <input class="form-control mr-sm-2" type="email" placeholder="Enter Email-id" name="email" required>&nbsp &nbsp
			            <input class="form-control mr-sm-2" type="password" placeholder="Enter password" name="password" required>&nbsp
			            <button class="btn btn-outline-white btn-md my-2 my-sm-0 ml-3" type=submit name="signin" >Sign In</button>
			            <a class="btn btn-outline-white btn-md my-2 my-sm-0 ml-3" href="register.php">Register</a>
			            </div>
			        </form> 
			      </div>
    		</nav>  

			<!-- start banner Area -->
			<section  class= "banner-area relative" id="home">
				<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
		        	<div class="carousel-inner" role="listbox">
			          <!-- Slide One - Set the background image for this slide in the line below -->
			          <div class="carousel-item active" style="background-image: url(img/scholarship.jpg); height:350px">
			            <br><br><br><br><br><br><br><br><br><br>
			            <div class="banner-content col-lg-02 col-md-02 justify-content-center"><br>
							<a href="location.origin/scholarships" class="primary-btn squire text-uppercase mt-10"> &nbsp Search scholarships &nbsp </a>
						</div>											
		          	</div>
		        </div>
		        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
		          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
		          <span class="sr-only">Previous</span>
		        </a>
		        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
		          <span class="carousel-control-next-icon" aria-hidden="true"></span>
		          <span class="sr-only">Next</span>
		        </a>
		      </div>
			</section>
			<!-- End banner Area -->

			

			<!-- Start features Area -->
			<br><br>
			<section>
				<div class="row mb-5">
					<!--div class="container col-lg-3 col-md-4" style="box-shadow: 2px 5px #888888; border: 1px solid;">				
						<div style="background-color: #202020; text-align: center; padding-top: 3px; padding-bottom: 3px; border-radius: 8px;">
                            <h4 class="mx-auto" style="color: white">News Updates</h4>
                        </div>
                        <div >
                            	
                        </div>                                   
            		</div-->
            		<div class="card mb-3 col-lg-3 col-md-4 mx-auto" style="max-width: 18rem;">
					  <div class="card-header text-white bg-dark" style="text-align: center; padding-right: 10px; padding-left: 10px; padding-top: 5px; padding-bottom: 3px; border-radius: 8px;">
					  	<h4 class="mx-auto" style="color: white">News Updates</h4>
					  </div>
					  <div class="card-body">
					    <p class="card-text" id="1"></p>
					  </div>
					</div>

					<div class="container col-lg-7 col-md-10 mx-auto" style="margin-left: -60px">
						<div style="background-color: #202020; text-align: center; padding-right: 10px; padding-left: 10px; padding-top: 5px; padding-bottom: 3px; border-radius: 8px;">
                            <h4 class="mx-auto" style="color: white">Latest Scholarships</h4>
                        </div>
                        <div>
                            <div class="row mt-3">
							  <div class="col-sm-6">
							    <div class="card ml-auto">
							      <div class="card-body">
							        <h5 class="card-title">Special title treatment</h5>
							        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
							        <a href="#" class="btn btn-outline-primary" style="border-radius: 25px; border-color: #202020">Go somewhere</a>
							      </div>
							    </div>
							  </div>
							  <div class="col-sm-6">
							    <div class="card">
							      <div class="card-body">
							        <h5 class="card-title">Special title treatment</h5>
							        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
							        <a href="#" class="btn btn-outline-primary" style="border-radius: 25px">Go somewhere</a>
							      </div>
							    </div>
							  </div>
							</div>
                        </div>
					</div>
				</div>	
			</section>
			<!-- End features Area -->

			
			<!-- start footer Area -->		
			
			<!-- End footer Area -->	

			<script type="text/javascript">
				$.ajax({
				url:"https://doit-ramrajani1998.c9users.io/newsupdate",
				type:"GET",
				dataType: 'json',
				data:{},
				headers: {
				'Content-Type':'application/json' 
				},
				success:function(data) {
					console.log(data);
					consile.log("hi");
					$('#1').append(data);
				}
			});
			</script>
			
			
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.4/js/mdb.min.js"></script>


		</body>
	</html>