<% include partials/header.ejs %>
<% include partials/middle.ejs %>
    <div class="col-8 mx-auto mb-3">
		<div class="card mt-3">
		  <div class="card-header text-center">
		    <h4><strong>User SignUp</strong></h4>
		  </div>
		<form id="login-form" class="form" action="/register" method="POST">  
		  <div class="card-body col-9 mx-auto">
		  	<div class="row">	
	            <div class="col-6 md-form form-sm mb-4">
	                <input type="text" id="name" class="form-control form-control-sm validate" name="name" required>
	                <label data-error="wrong" data-success="right" for="name">Enter Name</label>
	            </div>
		  		<div class="col-6 md-form form-sm mb-4 float-right">
	                <input type="email" id="email" class="form-control form-control-sm validate" name="id" required>
	                <label data-error="wrong" data-success="right" for="email">Enter Email</label>
	            </div>
	        </div>
	        <div class="row">
	        	<div class="col-6 md-form form-sm mb-4">
	                <input type="password" id="password" class="form-control form-control-sm validate" name="password" required>
	                <label data-error="wrong" data-success="right" for="password">Enter Password</label>
	            </div>
	            <div class="col-6 md-form form-sm mb-4">
	                <input type="number" id="income" class="form-control form-control-sm validate" name="income" required>
	                <label  data-error="wrong" data-success="right" for="income">Enter Income:</label>
	            </div>
	        </div>
	        <div class="row">
	        	<div class="col-6 md-form form-sm mb-4">
	                <input type="text" id="10" class="form-control form-control-sm validate" name="ssc">
	                <label data-error="wrong" data-success="right" for="10">Enter SSC %:</label>
	            </div>
	        	<div class="col-6 md-form form-sm mb-4">
	                <input type="text" id="12" class="form-control form-control-sm validate" name="hsc">
	                <label data-error="wrong" data-success="right" for="12">Enter HSC %:</label>
	            </div>
	            
	        </div>
	        <div class="row">
	        	<div class="col-6 md-form form-sm mb-4">
	                <input type="text" id="graduation" class="form-control form-control-sm validate" name="graduation">
	                <label data-error="wrong" data-success="right" for="graduation">Enter Graduation Pointer:</label>
	            </div>
	        	<div class="col-6 md-form form-sm mb-4">
		        	<select class="browser-default custom-select" id="category" name="category">
					  <option selected>Choose Category</option>
					  <option value="SC">SC</option>
					  <option value="ST">ST</option>
					  <option value="OBC">OBC</option>
					  <option value="EBC">EBC</option>
					  <option value="General">General</option>
					</select>
	        	</div>
	        </div>
	        <div class="row">
	        	<div class="col-6 md-form form-sm mb-4">
	                <input type="text" id="branch" class="form-control form-control-sm validate" name="branch">
	                <label data-error="wrong" data-success="right" for="branch">Enter Branch:</label>
	            </div>
	        	<div class="col-6 md-form form-sm mb-4">
	                <input type="text" id="state" class="form-control form-control-sm validate" name="state">
	                <label data-error="wrong" data-success="right" for="state">Enter State or India(for all states):</label>
	            </div>
	            
	        </div>
	        
	        <div class="row">
	        	<button class="btn btn-outline-primary mx-auto" style="border-radius: 25px;" type="submit">SignUp</button>
	        </div>
		  </div>
		  </form>
		</div>
	</div>



	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<!-- Bootstrap tooltips -->
  	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
  	<!-- Bootstrap core JavaScript -->
  	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
  	<!-- MDB core JavaScript -->
  	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.4/js/mdb.min.js"></script>
</body>
</html>